@import url('https://fonts.googleapis.com/css2?family=Inter+Tight:ital,wght@0,400..700;1,400..700&display=swap');


@tailwind base;
@tailwind components;
@tailwind utilities;


body {
    font-family: "Inter Tight", sans-serif;
    font-weight: 400;
    font-size: 1em;
    background-color: #D69E36;
}

:root {
    --swiper-navigation-size: 20px;
}
.swiper-button-prev, .swiper-button-next {
    color: #F5B747;
}


.hills {
    background-image: url(./assets/img/hills.png);
    background-position: bottom 60px center;
    background-repeat: no-repeat;
}